node_modules
.npm-cache
app-dist
.git
.github
deploy
ios
android
course-assets
course-assets-not-classify
course-assets-not-classify-prev
debug-recordings
audio
*.log
.DS_Store
**/.DS_Store
.env
.env.local
japaflow-config.local.js
